.new-card_main
  %script{src:'https://js.pay.jp/v2/pay.js'}

  .new-card-main
    .new-card_main-title
      クレジットカード新規登録
    .new-card_main-form
      %form{action:"/creditcards",method:"POST",name:"new_creditcard"}
        #number-form.payjs-outer
        #expiry-form.payjs-outer
        #cvc-form.payjs-outer
        %input{type:"text",name:"name",placeholder:"YAMADA TAROU",style:"ime-mode: disabled;"}
        %input{type:"hidden", name:"authenticity_token",value:form_authenticity_token}
        %input{type:"hidden",name:"token",id:"token",value:""}
        %input{type:"hidden",name:"user",value:@user}
        %text_field{type:"text",name:"card_token",id:"error"}
        %input{type:"button",onclick:"onSubmit2(event)",value:"submit"}

  :javascript
    var payjp = Payjp('pk_test_6bbb4903ef4b47c3dbb3f341')
    var elements4 = payjp.elements()
  
    var numberElement = elements4.create('cardNumber')
    var expiryElement = elements4.create('cardExpiry')
    var cvcElement = elements4.create('cardCvc')
    numberElement.mount('#number-form')
    expiryElement.mount('#expiry-form')
    cvcElement.mount('#cvc-form')

    function onSubmit2(event) {
      payjp.createToken(numberElement)
      .then((r) => {
        if(r.error){
          document.querySelector('#error').innerText = r.error.message;
        }else{
          document.querySelector('#token').value = r.id;
          document.new_creditcard.submit();
        }
      })
    }
