= link_to item_path(item.id), class: "items__list" do
  %li.items__list
    %figure.item
      %figucaption.item__text
        = item.name
        
      .items__list--body
        .list__body--label
          = "¥ #{item.price.to_s(:delimited)}"
        .items__list--image
          =image_tag (item.itemimages.first.image_url)
          -if item.buyer_id.present? 
            .items-box_photo__sold
              .items-box_photo__sold__inner SOLD