.confirm-main
  .confirm-main_purchase
    .confirm-main_item
      .confirm-main_item-name
        品名:
        テストアイテム
      .confirm-main_item-image
        テスト画像
      .confirm-main_item-price
        金額：
        1234円
    .confirm-main_purchase_title
      支払い方法
    .confirm-main_purchase-creditcards
      .confirm-main_purchase-creditcards_number
        クレジットカード：
        **** **** **** 1234
      .confirm-main_purchase-creditcards_expiration
        有効期限:
        12/34
