.bottom {
  background-image: image-url('bg-appBanner-pict.jpg');
  padding: 100px 40px;
  position: relative;
  background-size: cover;
  background-position: center;
  .bottom__image {
    width: 750px;
    justify-content: space-between;
    margin: 0px auto;
      .bottom__text {
        color: #fff;
        text-align: center;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        font-size: 24px;
        font-weight: bold;
        line-height: 1.4;
      }
      &--description {
        color: #fff;
        text-align: center;
        font-size: 35px;
        text-shadow: 0 0 5px rgba(0,0,0,0.4);
        margin-bottom: 20px;
      }
      .bottom__link--tag {
        display: flex;
        justify-content: center;
        .link__apple #appstore {
          width: 180px;
          margin: 20px auto 0;
          margin-right: 10px;
          &:hover {
            opacity: 0.8;
          }
        }
        .link__google #googleplay {
          width: 180px;
          margin: 20px auto 0;
          &:hover {
            opacity: 0.8;
          }
        }
      }
  }
}
