.footer
  .footer__contents
    .footer__contents__about
      %h2.footer__contents__about__title Fmarketについて
      %ul.footer__contents__about__item
    .footer__contents__help
      %h2.footer__contents__help__title ヘルプ＆ガイド
      %ul.footer__contents__help__item
    .footer__contents__privacy
      %h2.footer__contents__privacy__title プライバシーと利用規約
      .footer__contents__privacy--1
        %ul.footer__contents__privacy--1__item1
    .footer__contents__region
      %h2.footer__contents__region__title 国
  .footer__corporate
